<!DOCTYPE html>
<html>
<head>
    <title>Red Wine Quality</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <!-- Navigation bar -->
    <ul class="navbar">
        <li><a href="data">Data</a></li>
        <li><a href="about">About</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    
    <div class="container">
        <div class="content">
            <h1>Welcome to The Red Wine Quality website!</h1>
            <p>The Red Wine Quality Website is created with the intent of displaying the research data from Cortez et al., 2009. The purpose of this study was to find out if it is possible to predict what score a wine would be given based on its chemical properties and wine testers’ opinion on the wine quality. The basic idea presented in this paper was to categorize wine only on the basis of its physicochemical properties, and they used the Random Forest algorithm that lead to conclusions that are useful for future application in wine quality evaluation.</p> 
            <h3>Background</h3>
            <p>As wine has become more than just a drink, exploring wine consumer studies provides a better understanding of various factors that shape the wine industry. Therefore, this paper's aim was to review and map the landscape of wine consumer literature using bibliometric analysis and systematic review. It identifies the key areas, clusters, antecedents, mediators, moderators, and outcomes to propose the framework for future research directions.</p>
            <h3>Findings</h3>
            <p>Four main topics in the extant wine consumer literature were identified: sustainability and wine, wine preferences and choice, wine consumer behavior, and wine consumer insights. The five critical areas of wine consumers’ literature recognized are decision-making, consumer preferences, consumer behavior, segmentation, and consumer involvement. This study also recognizes theoretical and methodological advancements in the wine consumer literature.</p>
            <h3>Conclusion</h3>
            <p>The findings contribute to advancing knowledge development, identifying research gaps and shedding light on future research in the wine consumer domain. The results offer practical insight for wine industry stakeholders, researchers, and influencers</p>
        </div>
        
    </div>
        
</body>
</html>

